__pycache__/
box_office/__pycache__/
box_office/predictions.csv
box_office/predictions2.csv
box_office/predictions3.csv
box_office/sample_submission.csv
box_office/test.csv
box_office/train.csv
box_office/x.csv
box_office/x_test.csv
box_office/x_train.csv
env/
house_prices/data_description.txt
house_prices/kernel_ridge.csv
house_prices/predictions2.csv
house_prices/predictions3.csv
house_prices/sample_submission.csv
house_prices/test.csv
house_prices/train.csv
house_prices/x_train.csv
house_prices/y.csv
kaggle.json
temp/
house_prices/predictions4.csv
earthquakre/train.csv.zip
earthquake/train.csv
earthquake/test.zip
earthquake/numpy_data/
earthquake/sample_submission.csv
earthquake/train.csv.zip
